:root {
  --color-purple: #820ad1;
  --color-green: #6aa84f;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-family-title: 'Lobster', cursive;
  --font-family-h3: 'Playfair Display', 'Georgia', serif;
  --font-family-button: 'Roboto', 'Segoe UI', sans-serif;
  --font-family-body: 'Open Sans', 'Noto Sans', 'Helvetica Neue', sans-serif;
}

body {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--color-white);
  font-family: var(--font-family-body);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(5px);
}

button {
  width: 80%;
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-family-button);
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button.start {
  background-color: var(--color-purple);
  color: var(--color-white);
}

button.start:hover {
  background-color: #5c0899;
}

button.login {
  background-color: transparent;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
}

button.login:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}

.speech img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.speech-bubble {
  background-color: #1e2a32;
  border: 2px solid #4a5a65;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  color: var(--color-white);
  font-family: var(--font-family-body);
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #1e2a32 transparent transparent transparent;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: var(--color-black);
  background: none;
  border: none;
  cursor: pointer;
}

.subtitle {
  font-family: var(--font-family-h3);
  font-size: 16px; /* Reduzido para maior sutileza */
  color: rgba(255, 255, 255, 0.8); /* Branco mais escuro para contraste */
  margin-bottom: 30px;
  font-weight: 100;
}