:root {
  --color-purple: #820ad1;
  --color-green: #6aa84f;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-family-title: 'Lobster'
  --font-family-h3: 'Playfair Display', 'Georgia', serif; /* Fonte para subtítulos */
  --font-family-body: 'Open Sans', 'Noto Sans', 'Helvetica Neue', sans-serif;
  --font-family-button: 'Roboto', 'Segoe UI', sans-serif; /* Fonte para os botões */
}

body {
  background: url('assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: var(--color-white);
  font-family: var(--font-family-body);
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.7); /* Sobreposição semi-transparente */
  backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 150px;
  height: auto;
}

.title {
  font-size: 42px; /* Aumentado para dar mais destaque */
  color: var(--color-green); /* Cor verde para o título */
  margin: 10px 0;
  font-family: var(--font-family-title); /* Fonte personalizada para titulo
  font-weight: 700; /* Negrito para destaque */
  text-shadow: 3px 3px 6px var(--color-black); /* Sombra mais intensa */
}

.subtitle {
  font-family: var(--font-family-h3); /* Fonte personalizada para h3 */
  font-size: 18px; /* Ajustado para maior legibilidade */
  color: var(--color-white); /* Letras brancas */
  margin-bottom: 30px;
  font-weight: 100; /* Fonte mais leve */
}

button {
  width: 80%;
  max-width: 300px;
  padding: 15px;
  margin: 10px 0;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-family: var(--font-family-button); /* Fonte personalizada para botões */
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Efeito de animação ao passar o mouse */
}

button:hover {
  transform: scale(1.05); /* Botão aumenta levemente no hover */
}

button.start {
  background-color: var(--color-purple); /* Cor roxa para o botão */
  color: var(--color-white); /* Letras brancas */
}

button.start:hover {
  background-color: #5c0899; /* Roxo mais escuro no hover */
}

button.login {
  background-color: transparent;
  color: var(--color-purple); /* Roxo para o texto do botão */
  border: 2px solid var(--color-purple); /* Borda roxa */
}

button.login:hover {
  background-color: var(--color-green); /* Fundo verde no hover */
  color: var(--color-white); /* Texto branco no hover */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(26, 26, 26, 0.7); /* Sobreposição semi-transparente */
  backdrop-filter: blur(5px); /* Efeito de desfoque */
}

.speech img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.speech-bubble {
  background-color: #1e2a32;
  border: 2px solid #4a5a65;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  color: var(--color-white);
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #1e2a32 transparent transparent transparent;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: var(--color-black);
  background: none;
  border: none;
  cursor: pointer;
}